# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
winv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables 
.env
credential.md

# Other
# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

